<div class="navbar">
      <div class="containers">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> Sign in /Sign up</a>

        <a class="brand pull-left" href="/">AxSwap</a>
          <div class ="valprop pull-left"> Buy, Sell and Swap Musical Instruments and Gear</div >

        <div class="container nav-collapse">
          <ul class="nav pull-right">
            <% admins_only do %>
              <li><%= link_to "Admin lounge", admin_root_path %></li>
            <% end %>

            <% if user_signed_in? %>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %></li><br />
              <li>Signed in as <%= current_user.email %></li>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %>
              <%= link_to "Sign in", new_user_session_path  %>
              <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
